<div class="opti_container position-relative bg-white rounded">
    <form class="form-with-fix-btnBar" *ngIf="!viewLines">
        <div class="opti_container_inner" [perfectScrollbar]=" ">
  
            <h3 class="border-bottom d-flex pt-1 pb-3 mb-4">
                {{'ContainerTypeRelation'|translate}}
            </h3>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
  
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">{{'CAR_CPackRule'|translate}}</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm">
                                <input type="number" class="form-control form-control-sm" min="0" name="CAR_CPackRule" [(ngModel)]="CAR_CPackRule" >
                                
                            </div>
                        </div>
                    </div>
  
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-3 col-form-label">{{'CT_ContainerType'|translate}}</label>
                      <div class="col-sm-9">
                          <div class="input-group input-group-sm">
                              <input type="number" class="form-control form-control-sm" 
                              min="0" name="CT_ContainerType" [(ngModel)]="CT_ContainerType" >
                          </div>
                      </div>
                  </div>
  
                  <div class="form-group row">
                      <label for="inputPassword" class="col-sm-3 col-form-label">{{'CAR_PackType'|translate}}</label>
                      <div class="col-sm-9">
                          <div class="input-group input-group-sm">
                              <input type="number" class="form-control form-control-sm" min="0" name="CAR_PackType" [(ngModel)]="CAR_PackType" >
                              
                          </div>
                      </div>
                  </div>
                  
                  <div class="form-group row">
                      <label for="inputPassword" class="col-sm-3 col-form-label">{{'CAR_ItemCode'|translate}}</label>
                      <div class="col-sm-9">
                          <div class="input-group input-group-sm">
                              <input type="text" class="form-control form-control-sm" min="0" name="CAR_ItemCode" [(ngModel)]="CAR_ItemCode" >
                              
                          </div>
                      </div>
                  </div>
                  
                  <div class="form-group row">
                      <label for="inputPassword" class="col-sm-3 col-form-label">{{'CAR_PartsPerContainer'|translate}}</label>
                      <div class="col-sm-9">
                          <div class="input-group input-group-sm">
                              <input type="number" class="form-control form-control-sm" min="0" name="CAR_PartsPerContainer" [(ngModel)]="CAR_PartsPerContainer" >
                              
                          </div>
                      </div>
                  </div>            
                  
                  <div class="form-group row">
                      <label for="inputPassword" class="col-sm-3 col-form-label">{{'CAR_AddPartsToContainer'|translate}}</label>
                      <div class="col-sm-9">
                          <div class="input-group input-group-sm">
                              <input type="number" class="form-control form-control-sm" min="0" name="CAR_AddPartsToContainer" [(ngModel)]="CAR_AddPartsToContainer" >
                              
                          </div>
                      </div>
                  </div>  
  
  
                  <div class="form-group row">
                      <label for="inputPassword" class="col-sm-3 col-form-label">{{'CAR_MinFillPercent'|translate}}</label>
                      <div class="col-sm-9">
                          <div class="input-group input-group-sm">
                              <input type="number" class="form-control form-control-sm" min="0" name="CAR_MinFillPercent" [(ngModel)]="CAR_MinFillPercent" >
                              
                          </div>
                      </div>
                  </div>  
  
  
  
  
                </div>
            </div>
  
  
        </div>
        <div class="fix-footer-btnBar">
            <div class="col-sm-12 col-12">
                <hr />
            </div>
            <div class="col-sm-12 col-12">
                    <button class="btn btn-outline-secondary btn-sm btn-transparent btn-icon mr-1" (click)="onCancelClick()" type="button">
                            <i class="opti-icon-arrow-back"></i>
                        </button>
                <button class="btn btn-success k-button btn-sm btn-icon-with-text" type="button" (click)="OnAddUpdateClick()">
                    <span class="k-icon k-i-check" role="presentation"></span> {{BtnTitle}}</button>
  
              
            </div>
        </div>
    </form> 
  
  </div>
  <div class="opti_loader full-section" *ngIf="showLoader">
    <div class="opti_spinner"></div>
  </div>
  